/* body */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
/* header-section */

.header {
    background-color:#E554731A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px 0px;
}

.header-image {
    width: 500px;
    height: 700px;
    

}

.head-left {
    width: 47%;
    padding: 0px 0px 50px 50px;
}
.head-left h2{
    color: #272727;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 10px;
}

.para-primary {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}
.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    
}

/* Featured-section */

.feature {
    text-align: center;
    margin: 30px 0px 80px;
}

.feature-content {
    margin: 100px 450px 50px;
}

.heading-primary {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.featured-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 200px;

}

.featured-item a {
    color: #272727;
    font-size: 16px;
    font-weight: 600;
    line-height: 75px;
    text-decoration: underline;
}
.featured-item1 {
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    padding: 55px 40px 0px;
}

.feature-image {
    width: 300px;
    height: 350px;
    display: block;
}

.featured-item2 {
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    padding: 55px 40px 0px;
}
.featured-item3 {
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    padding: 55px 40px 0px;
}

/* Hot Deal Section */

.deal {
    background-color: #E554730D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 120px 80px;
}

.deal-image {
    width: 250px;
    height: 350px;
    margin-right: 200px;
    

}

.deal-left {
    width: 48%;
    padding: 0px 0px 50px 150px;
    text-align: center;
}
.deal-left h3{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

/* Instagram-section */

.instagram {
    text-align: center;
    margin: 50px 180px 80px;

}

.content-primary {
    margin: 0px 300px;
}
.flower-images {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;

}

.flower-images img {
    width: 300px;
    height: auto;
    margin-right: 15px;
}


/* Subscription section */

.subscription {
    text-align: center;
    background-image: url('../images/rectangle4.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 40px 174px 0px 180px;
    padding: 50px 0 110px; 
    background-size: contain;
}

.email {
    padding: 23px 350px 23px 10px;
    color: #27272799;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin-right: 5px;
    margin-top: 20px;
}

/* Footer section */

.footer {
    text-align: center;
    background-color: #111010;
    padding: 100px 0;
}

.footer h3 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 15px;
}
.span {
    color: #E55473;
}

.footer p {
    color: #FFFFFFE5;
    margin-bottom: 25px;
    line-height: 28px;
}

.footer .copyright {
    color: #FFFFFF66
}